[submodule "SurfSense"]
	path = SurfSense
	url = https://github.com/MODSetter/SurfSense
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/NousResearch/hermes-agent
[submodule "surfsense-skill"]
	path = surfsense-skill
	url = https://github.com/Asphyksia/surfsense-skill.git
